<aside>
  <div class="widget anuncio">
    <div class="titulo">Anuncio</div>
    <div class="widget-content"><a href="#"><img src="img/PuyoPuyoBanner.jpg" alt="Anuncio de PuyoPuyo Tetris"></a></div>
  </div>
  <div class="widget partido-directo">
    <div class="titulo">¡En directo!</div>
    <div class="widget-content">
      <div class="oponente">
        <img class="avatar" src="img/JeffMoore.jpg" alt="Jeff Moore">
        <div class="username">Jeff More</div>
      </div>
      <div class="vs">VS</div>
      <div class="oponente">
        <img class="avatar" src="img/JonasNeubauer.jpg" alt="Jonas Neubauer">
        <div class="username">Jonas Neubauer</div>
      </div>
    </div>
  </div>
  <div class="widget partido-directo">
    <div class="titulo">¡En directo!</div>
    <div class="widget-content">
      <div class="oponente">
        <img class="avatar" src="img/Zixiong.jpg" alt="Zixiong">
        <div class="username">Zixiong Lin</div>
      </div>
      <div class="vs">VS</div>
      <div class="oponente">
        <img class="avatar" src="img/HarryHong.jpg" alt="Harry Hong">
        <div class="username">Harry Hong</div>
      </div>
    </div>
  </div>
</aside>