<footer>
  <div id="copyright">
    <p>Copyright &copy; 2017-2018 TL-DG, todos los derechos reservados</p>
  </div>
  <div id="footer-bottom">
    <div id="logo-footer">
      <h1 class="texto-multicolor"><span>T</span><span>E</span><span>T</span><span>R</span><span>I</span><span>S</span>
        <span>L</span><span>E</span><span>G</span><span>E</span><span>N</span><span>D</span><span>S</span></h1>
    </div>
    <ul id="lista-enlaces">
      <li><a href="">Contacto</a></li>
      <li><a href="">Política de privacidad</a></li>
      <li><a href="">Política de cookies</a></li>
    </ul>
    <div id="redes-sociales">
      <a href="#"><img src="img/logo_facebook.png" alt=""></a>
      <a href="#"><img src="img/logo_twitter.png" alt=""></a>
    </div>

  </div>
</footer>