<header>
  <h1>
      <%= link_to 'home/index', class: 'texto-multicolor' do %>
      <span>T</span><span>E</span><span>T</span><span>R</span><span>I</span><span>S</span>
      <span>L</span><span>E</span><span>G</span><span>E</span><span>N</span><span>D</span><span>S</span>
      <% end %>
 </h1>

  <div id="hamburger" tabindex="0" onclick="toggleMenu(this)">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav>
    <%= link_to 'Inicio', controller: 'home', action: 'index' %>
    <%= link_to "Noticias", blogs_path %>

    <a href="#">Jugadores</a>
  </nav>

  <div id="user-panel">
    <a href="./login.html">Iniciar sesión</a>
    <a href="./login.html?register">Regístrate</a>
  </div>
</header>

